<div class="alert alert-info">List Of Repositories</div>

<table class="table table-stripped list-repos table-bordered">
  <thead>
    <tr>
      <th>Sr No</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @list.each_with_index do |repo, index| %>
      <tr >
        <td style="text-align: center;"><%= index %></td>
        <td><%= repo.name %></td>
        <td><%= link_to 'Details', github_path(repo.id)%></td>
      </tr>
      </a>
    <% end %>
  </tbody>
</table>


